@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');

:root {
    --black: #000B20;
    --selection: #3F88A8;
    --background: #9DC9CB;
    --lightBlue: #D3F2F7;
    --darkBlue: #0E3A53;
    --solidWhite: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--lightBlue);
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(14, 58, 83, 1) 100%);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    color: var(--solidWhite);
}

.font-25 {
    font-size: 1.5rem;
}

h2 {
    font-style: italic;
}

nav {
    font-size: 1.2rem;
    margin-bottom: 2%;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    font-style: bold;
    transition: 0.35s;
}

nav a:hover {
    transition: 0.4s;
    color: var(--solidWhite);
    background-color: var(--selection);
    padding: 0 1.3rem;
    border-radius: 4px;
}

main {
    margin: 0 3%;
}

main p {
    margin: 2% 0;
}

h3 {
    color: var(--solidWhite);
}

h4 {
    font-style: italic;
    font-weight: normal;
}

.titulo {
    border-left: solid 1px;
    padding-left: 5px;
}

.midia {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.midia:hover {
    border-radius: 2.5rem;
}

.video {
    aspect-ratio: 16/5;
}

img {
    aspect-ratio: 16/10;
}

footer {
    margin: 2% 0;
    border-top: solid 1px;
    /* background-color: green; */
}

footer a {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer img {
    height: 75%;
}

.rodape {
    display: flex;
    justify-content: center;
    /* background: greenyellow; */
}

/* -- contato -- */